<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tamir.offen.OddJob">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ojfinalicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ojfinalicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <!-- never used -->
        </activity>

        <!-- needed -->
        <activity
            android:name=".Messaging.messages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Map.map"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".AddJob"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Add_Job.AddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_Job.TagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_Job.PriceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_Job.LocationPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_Job.DateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Messaging.ChattingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_Job.BottomSheetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User_Registration.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User_Registration.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation_Drawer.currentJobsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation_Drawer.profileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation_Drawer.settingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Messaging.ChatSelectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Add_Job.ShowJobActivity"></activity>
    </application>

</manifest>